---
version: "3.5"
services:
  mysql:
    image: mysql:5.7.5
#    name: mysql5
    ports:
      - "3306:3306"
    volumes:
      - ./sql:/var/lib/mysql
    environment:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: dd
          MYSQL_USER: root
          MYSQL_PASSWORD: secret

  tomcat:
    image: tomcat:8.0.15-jre7
#    name: tom
    ports:
      - "9999:8080"
    volumes:
      - ./tom:/var/lib/tomcat8/webapps

  maven:
    build: mvn
    volumes:
      - ./tom:/webapps
      - ./build:/build
