---
version: "3.5"
services:
  mysql:
    image: mysql:5.7.5
#    name: mysql5
    volumes:
      - ./sql:/var/lib/mysql
    environment:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: dd
          MYSQL_USER: root
          MYSQL_PASSWORD: secret

  tomcat:
      build: tom
#      image: mytom
#tomcat:8.5-jdk8-openjdk-slim
#    name: tom
    ports:
      - "9999:8080"
    volumes:
      - apps:/usr/local/tomcat/webapps
    links:
      - mysql
    depends_on:
      - mysql

  maven:
    build: mvn
    volumes:
      - apps:/webapps
    depends_on:
      - tomcat

volumes:
  apps:
